html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* MOBILE */
@media (max-width:600px){
  h1{
    font-size:28px;
    text-align:center;
  }

  #qtdModelos{
    width:100%;
    margin-bottom:10px;
  }

  button{
    width:100%;
  }
  body {
    background-attachment: scroll; /* corrige bug no celular */
  }
  .resultado-box {
    width: 90%;
  }
  h1.display-4 {
    font-size: 32px;
    margin-top: 40px;
  }

  h1.display-3 {
    font-size: 24px;
    margin-top: 40px;
  }
}

.btn-primary {
    background-color: #ffcc00; /* amarelo (combina com tema pneu / borracha / sinalização) */
    border: none;
    color: #000;
    font-weight: bold;
    padding: 14px 28px;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(255, 204, 0, 0.3);
    
}

/* efeito hover */
.btn-primary:hover {
    background-color: #ffaa00;
    transform: scale(1.05);
    color: #000;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: black;
  background-image: url("/img/image_pneu.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}

h1.display-4 {
    font-size: 60px;      /* aumenta o tamanho */
    font-weight: bold;    
    color: #ffffff;       /* deixa branco */
    text-shadow: 3px 3px 8px rgba(0,0,0,.9); /* sombra pra destacar */
    margin-top: 80px;    /* desce o título pra baixo */
    letter-spacing: 3px;  /* espaço entre letras */
    text-transform: uppercase; /* deixa tudo em maiúsculo */
}

h1.display-3 {
    text-align: center;
    font-size: 40px;      /* aumenta o tamanho */
    font-weight: bold;    
    color: #ffffff;       /* deixa branco */
    text-shadow: 2px 1px 1px #ffcc00; /* sombra pra destacar */
    margin-top: 80px;    /* desce o título pra baixo */
    letter-spacing: 3px;  /* espaço entre letras */
    text-transform: uppercase; /* deixa tudo em maiúsculo */
}

.resultado-box {
    margin-top: 40px;
    text-align: center;
    background: rgba(0,0,0,0.55);
    padding: 25px;
    border-radius: 12px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 16px;
    font-weight: bold;

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,204,0,0.2);
    box-shadow: 0 8px 30px rgba(0,0,0,0.6);
     backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* 🔥 compatibilidade */
}

.resultado-texto strong {
    color: #ffcc00;
}

.botao-copiar {
    width: 200px;
    display: block;
    margin: 10px auto;  /* centraliza */
    padding: 5px 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffcc00;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}

.botao-copiar:hover {
    background-color: #ffaa00;
    transform: scale(1.05);
}

.img-voltar {
    width: 45px;     /* controla o tamanho */
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: 0.3s;
}

.img-voltar:hover {
    transform: scale(1.1);
}

.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: -1;
}







