@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>

    <div class="botao-home-container">
    <a class="btn btn-primary botao-home" href="/Calcular">Cálculo de ICMS para Pneus</a>
</div>
</div>
